/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --body-font: "Righteous", sans-serif;
  --heading-font: "Righteous", sans-serif;
  --font-caveat: "Caveat", cursive;
  --primary-blue: #8FE3FF;
  --theme-black: #002531;
  --light-black: #41606B;
  --white: #ffffff;
  --black: #000000;
  scroll-behavior: inherit;
}

/* Body */
body {
  height: 3000px;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-weight: normal;
  font-style: normal;
  color: var(--theme-black);
  font-size: 16px;
  line-height: 1.3;
  background-color: var(--primary-blue);

}

/* Links */
a {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  outline: none !important;
  color: #ecb61e;
  transition: all 0.3s ease-in-out;
}

/* Images */
img {
  max-width: 100%;
  vertical-align: middle;
}

/* Header */
.main-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.main-head::before {
  content: '';
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  width: 100%;
  height: 100%;
  background-color: rgba(143, 226, 254, 0.7);
  backdrop-filter: blur(7px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.navbar {
  background: none;
  margin: 0;
  padding: 0;
  min-height: inherit;
  height: inherit;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  width: 290px;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  order: 1;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  order: 2;
}
.navbar-rht{
  order: 3;
}

.navbar-collapse .navbar-toggler {
  display: none;
}

.navbar-nav>li:first-child {
  margin-left: 0;
}

.navbar-nav>li {
  margin: 0 19px;
  padding: 20px 0;
  position: relative;
}

.navbar-nav li {
  position: relative;
  list-style: none;
}



.ms-auto {
  margin-left: auto !important;
}

.cmn-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: var(--theme-black);
  border: 1px solid var(--theme-black);
  border-radius: 70px;
  padding: 18px 30px;
  min-width: 180px;
  line-height: 1;
  transition: all 0.3s ease-in-out;
  order: 3;
}

.cmn-btn:hover {
  background-color: var(--theme-black);
  color: var(--primary-blue);
}

.navbar-toggler {
  position: relative;
  width: 33px;
  margin-left: 25px;
  height: 28px;
  padding: 0;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  order: 3;
}

.navbar-toggler span.stick {
  display: block;
  width: 33px;
  height: 3px;
  background-color: var(--theme-black);
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}
.navbar-nav>li>a {
  color: var(--theme-black);
  font-size: 18px;
  line-height: 1.2;
  position: relative;
  font-weight: normal;
}

@media (max-width: 575px) {
  .navbar-brand {
      width: 155px;
      
  }
  .cmn-btn {
    font-size: 15px;
    padding: 12px 20px;
    min-width: 120px;
}
}
@media (max-width: 991px) {
  .navbar-nav>li>a {
    padding: 14px 20px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
}
.navbar-brand {
  order: 2;
  width: 28%;
}
.navbar-rht{
width: 36%;
}
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%; /* إخفاء القائمة خلف الشاشة من الجهة اليمنى */
    width: 66.67%; /* تغطية ثلثي عرض الشاشة */
    height: 100%;
    background-color: var(--primary-blue);
    transition: all 0.5s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
   
      position: fixed;
      top: 0;
      height: 100% !important;
      width: 290px;
      overflow-y: auto;
      -webkit-transition: inherit !important;
      -o-transition: inherit !important;
      transition: inherit !important;
      right: 0;
      margin: 0;
      display: block !important;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: transform 0.2s ease-in-out !important;
      -webkit-transition: -webkit-transform 0.2s ease-in-out !important;
      transition: -webkit-transform 0.2s ease-in-out !important;
      -o-transition: transform 0.2s ease-in-out !important;
      transition: transform 0.2s ease-in-out !important;
      transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out !important;
      z-index: 100;
      order: 3;
  
    
  }
 
  .navbar-collapse.show, .navbar-collapse.collapsing {
    right: 0; /* عرض القائمة عندما يتم تنشيطها */
    transition: all 0.5s ease-in-out;
    display: block !important;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform 0.2s ease-in-out !important;
    -webkit-transition: -webkit-transform 0.2s ease-in-out !important;
    transition: -webkit-transform 0.2s ease-in-out !important;
    -o-transition: transform 0.2s ease-in-out !important;
    transition: transform 0.2s ease-in-out !important;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out !important;
}



  .close-btn {
    align-self: flex-end;
    margin: 22px;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--theme-black);
    cursor: pointer;
    text-align: right;
    width: 85%;
    order: 3;
  }

  .navbar-nav {
    margin-top: 60px;
  }

  .navbar-nav .nav-item {
    margin: 0;
    padding: 10px 20px;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: normal;
    color: var(--theme-black);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
  }

  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    background-color: #aee2f3;
   
    border-left: 1px solid black;
  }
  .cmn-btn {
    font-size: 16px;
    padding: 12px 14px !important; 
    min-width: 150px;
    margin: 5px 0;
}
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  border-bottom: 1px solid black;
}
